
<h1> <%= @user.nickname %> </h1><br>
<% if @user == current_user %>
  Email: <%= @user.email %> <br>
<% else %>
  Email: <%= @user.email %>
  <%= link_to "follow", follow_path(:followed_id => @user.id), method: :post%> <br>
<% end %>
<% if @user.followeds.present? %>
  Followed: <br>
  <% @user.followeds.each do |followed_user| %>
    <%= link_to followed_user.email, user_path(followed_user) %>
    <% if @user == current_user %>
      <%= link_to "Unfollow", unfollow_path(:followed_id => followed_user.id), method: :delete, data: { confirm: 'QQ~ Are you sure?'} %> <br>
    <% else %>
      <br>
    <% end %>
  <% end %>
<% end %>
