
<h1> <%= @user.nickname %> </h1><br>
<% if @user == current_user %>
  Email: <%= @user.email %> <br>
<% else %>
  Email: <%= @user.email %>
  <%= link_to "follow", follow_path(:following_id => @user.id), method: :post%> <br>
<% end %>
<%= image_tag @user.avatar.url(:medium) %><br>
<% if @user.followings.present? %>
  following: <br>
  <% @user.followings.each do |following_user| %>
    <%= link_to following_user.email, user_path(following_user) %>
    <% if @user == current_user %>
      <%= link_to "Unfollow", unfollow_path(:following_id => following_user.id), method: :delete, data: { confirm: 'QQ~ Are you sure?'} %> <br>
    <% else %>
      <br>
    <% end %>
  <% end %>
<% end %>
