<% @plurks.each do |plurk| %>
  <div class="plurk-main">
    <% if plurk.user == current_user %>
      <button type="button" class="close" data-toggle="modal" data-target="#delete-plurk-id-<%= plurk.id %>">
        <span aria-hidden="true">&times;</span>
      </button>
    <% end %>
    <!-- Modal -->
    <div class="modal fade" id="delete-plurk-id-<%= plurk.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">ARE YOU SURE?</h4>
          </div>
          <div class="modal-footer">
            <%= link_to 'Delete', plurk, method: :delete, class: "btn btn-danger", type: "button" %>
            <button type="button" class="btn btn-success" data-dismiss="modal">No, I don't want to delete it</button>
          </div>
        </div>
      </div>
    </div>
    <div class="plurk-body">
      <%= link_to plurk.user.nickname, user_path(plurk.user) %> <span class="plurk-time"> <%= l plurk.created_at, format: :short %> </span>
      <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#plurk-content-id-<%= plurk.id %>">
        Edit
      </button>
      <!-- Modal -->
      <div class="modal fade" id="plurk-content-id-<%= plurk.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Edit Plurk</h4>
            </div>
            <%= form_for plurk do |f| %>
              <div class="modal-body">
                <%= f.text_area :content, :required=>true %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <%= f.submit "Save changes", class: "btn btn-primary" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <button class="btn btn-default btn-xs"  type="button" data-toggle="collapse" data-target="#collapse-reply-id-<%= plurk.id %>" aria-expanded="false" aria-controls="collapse-reply-id-<%= plurk.id %>">
        ↪︎ Reply
      </button>
      <div class="plurk-content">
        <%= plurk.content %>
      </div>
      <div class="collapse" id="collapse-reply-id-<%= plurk.id %>">
        <%= render partial: 'reply_input', locals: {plurk: plurk} %>
      </div>
    </div>
    <% if plurk.replies.present? %>
      <% plurk.replies.each do |reply| %>
        <div class="plurk-reply">
          <%= link_to reply.user.nickname, user_path(reply.user) %>
          <span class="plurk-time"><%= l reply.created_at, format: :short %> </span>
          <div class="reply-content">
            <%= reply.content %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
