<h1>Plurks</h1>

    <% @plurks.each do |plurk| %>
      @<%= plurk.created_at %> <%= link_to plurk.user.email %>  say: <%= plurk.content %> <br>
      <% if plurk.replies.present? %>
       <% plurk.replies.each do |reply| %>
         --> <%= reply.created_at %> <%= link_to reply.user.email %> reply: <%= reply.content %> <br>
       <% end %>
      <% end %>
      <%= link_to 'Edit', edit_plurk_path(plurk) %>
      <%= link_to 'Reply', reply_plurk_path(plurk) %>
      <%= link_to 'Destroy', plurk, method: :delete, data: { confirm: 'Are you sure?' } %>
      <br>
      <br>
    <% end %>
<br>

<h2>New Plurk</h2>
<% @plurk=Plurk.new %>
<%= form_for(@plurk) do |f| %>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
