<!DOCTYPE html>
<html>
<head>
  <title>Demo03</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <% if current_user %>
    <% @user=current_user %>
    <td>You are login as <%= @user.email %>
    <%= link_to('Logout', destroy_user_session_path, :method => :delete) %> |
    <%= link_to('Change password', edit_registration_path(:user)) %>
  <% else %>
    <%= link_to('Register', new_registration_path(:user)) %> |
    <%= link_to('Login', new_session_path(:user)) %>
  <% end %>
  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
